$ff1: Roboto,
sans-serif;
$ff2: Cuprum,
sans-serif;

$fc1: #4f555a;
$fc2: #43aa26;
$fc3: #2f3031;

$but_back: #41ac21;
$col1: #ffffff;

$fs: 26px;

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.header {
    width: 100%;
}

.info {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    span {
        line-height: 87px;
    }
}

#describe {
    margin-left: 97px;
    margin-right: 97px;
    color: $fc3;
    font-size: 14px;
    font-weight: 400;
    font-family: $ff1;
}

.phone_number {
    font-family: $ff2;
    color: $fc3;
    font-size: $fs;
}

.firm_name {
    float: left;
    vertical-align: middle;
}

.inside-window {
    text-decoration: none;
    color: $fc1;
    font-size: $fs;
    font-family: $ff1;
    line-height: 87px;

    img {
        vertical-align: middle;
        line-height: 87px;
    }
}

.call {
    float: right;
    line-height: 87px;

    .order {
        line-height: 38px;
        padding-left: 19px;
        padding-right: 18px;
        border: none;
        border-bottom: 3px solid #288b0a;
        background-color: $but_back;
        color: $col1;
        cursor: pointer;
        img {
            vertical-align: middle;
            margin-right: 9px;
        }
    }
}

.menu {
    width: 100%;
    background-color: $but_back;
}

.menu-list {
    box-sizing: border-box;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 48px;
    overflow: hidden;
    line-height: 48px;
}

.element {
    list-style: none;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    &:first-child {
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

    &:hover {
        background-color: white;
    }

    &:last-child {
        &:hover {
            background-color: $but_back;
        }
    }

    &:hover .elem {
        color: $fc2;
    }
}

.elem {
    text-decoration: none;
    color: white;
    padding-left: 18px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 48px;
    display: block;
}

#search {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 48px;

    img {
        vertical-align: middle;
    }
}

.set {
    background-image: url(../images/set.png);
    height: 500px;
}

.set_window {
    width: 451px;
    text-align: left;
    background-color: white;
    padding-left: 30px;
    padding-right: 31px;
    padding-bottom: 52px;
    padding-top: 26px;
    border-top: 4px solid $but_back;
    box-shadow: -4px 7px 18px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: calc(50% + 135px);
}

.pads {
    h6 {
        font-family: $ff2;
        color: $fc3;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 19px;
    }

    p {
        font-family: $ff1;
        color: $fc3;
        font-size: 14px;
    }
}

#leftarrow {
    width: 26px;
    height: 26px;
    background-color: $but_back;
    position: absolute;
    left: 0;
    top: calc(50% - 26px);
    margin-left: -13px;
    transform: rotate(45deg);
    &:hover {
        background-color: white;
    }
}

#rightarrow {
    width: 26px;
    height: 26px;
    background-color: $but_back;
    position: absolute;
    right: 0;
    margin-right: -13px;
    top: calc(50% - 26px);
    transform: rotate(45deg);
    &:hover {
        background-color: white;
    }
}

.foto {
    background-image: url(../images/girl.png);
    width: 482px;
    height: 368px;
    margin-top: -91px;
    position: relative;
    float: left;
}

#horizontal_line {
    width: 68px;
    height: 6px;
    background-color: $but_back;
    display: block;
    position: absolute;
    top: -2px;
    left: -1px;
}

#vertical_line {
    width: 6px;
    height: 68px;
    background-color: $but_back;
    display: block;
    position: absolute;
    left: -2px;
    top: -1px;
}

.images {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.set_window .slick-dots {
    text-align: center;
    font-size: 0;
}

.set_window .slick-dots li {
    display: inline-block;
    margin: 20px 6px;
}

.set_window .mySlider .slick-dots button {
    cursor: pointer;
    font-size: 0;
    border-radius: 100%;
    border: 2px solid $fc2;
    width: 12px;
    height: 12px;
    background-color: $fc2;
    outline: none;
    position: relative;
}

.set_window .mySlider .slick-dots .slick-active button {
    background-color: white;
}

.set_window {
    .slick-arrow {
        font-size: 25px;
        border: none;
        width: 26px;
        height: 26px;
        background-color: white;
        position: absolute;
        color: #fff;
        transform: rotate(45deg);
        line-height: 23px;
        transform-origin: 13px 6px;
        top: calc(50% - 26px);
        &::after,
        &::before {
            content: "";
            width: 15px;
            height: 2px;
            background-color: black;
            position: absolute;
            top: 18px;
            left: 5px;
        }

        &::before {
            transform: rotate(90deg);
            left: -2px;
            top: 11px;
        }

        &.slick-arrow-left {
            left: -38px;
        }
        &.slick-arrow-right {
            right: -40px;
            transform: rotate(-135deg);
            top: calc(50% - 16px);
        }
        .arrow-right {
            display: block;
            transform: rotate(-45deg);
            height: 26px;
            color: black;
        }
        .arrow-left {
            display: block;
            transform: rotate(-45deg);
            height: 29px;
            color: black;
        }

        &:hover {
            background-color: #41ac21;
            &::after,
            &::before {
                background-color: white;
            }
        }

    }
}

.set_window .mySlider {
    //    .slick-prevArrow {
    //        &:before {
    //            display: block;
    //            content: "123";
    //            font-size: 14px;
    //            color: black;
    //        }
    //    }
}

.description {
    background-color: white;
    margin-left: 482px;
    position: relative;
    top: -40px;
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.ordering {
    font-family: $ff1;
    color: $fc3;
    font-size: 36px;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
}

.convert {
    float: left;
}

.point_order {
    text-align: center;
    img {
        vertical-align: middle;
    }
}

.image-container {
    width: 190px;
    margin: 0 auto;
    height: 130px;
}

.how_to {
    background-image: url(../images/Rectangle%208.png);
}

.mar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.head-container {
    text-align: center;
}

.img {
    margin-top: 36px;
}

.gr_ar {
    margin-left: -20px;
    margin-bottom: 38px;
}

.img {
    font-size: 0;
}

.order_text {
    font-family: $ff1;
    font-size: 14px;
    font-weight: 400;
    color: $fc3;
    margin-top: 25px;
    text-align: center;
}

.space_gray {
    color: #d0d3d8;
    font-size: 14px;
    font-weight: 400;
}

.centr {
    display: block;
    margin: 0 auto;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.videos {
    margin-bottom: 60px;
}

h2 {
    font-family: $ff1;
    color: $fc3;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.video_slider {
    font-size: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: scroll;
}

.video_container {
    margin-left: 31px;
    &:first-child {
        margin-left: 0;
    }
}

.video-text-container {
    padding-left: 64px;
    h3 {
        margin-top: 12px;
        margin-bottom: 12px;
        a {
            font-family: $ff1;
            color: $fc3;
            font-size: 16px;
            font-weight: 700;
            text-align: left;
            text-decoration: none;
            &:hover {
                color: $fc2;
                text-decoration-line: underline;
            }
        }
    }
    p {
        color: $fc3;
        font-size: 14px;
        font-family: $ff1;
        font-weight: 400;
        text-align: left;
    }
}

.sale {
    background-image: url(../images/green_back.png);
    background-size: cover;
}

.bld_img {
    float: right;
    margin-right: 60px;
    margin-top: 21px;
}

.catalog {
    background-image: url(../images/Rectangle%208.png);
}

.container-cat {
    padding-top: 40px;
    margin-bottom: 40px;
}

.cat {
    font-family: $ff2;
    color: $fc3;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.cat-list {
    margin-bottom: 40px;
}

.list-of-catalog {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #fff;
    max-width: 650px;
    margin: 0 auto;
}

.elements-of-list {
    list-style-type: none;
    border-right: 2px solid rgb(234, 234, 234);
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-left: 25px;
    padding-right: 25px;

    &:last-child {
        border-right: 2px solid white;
    }

    &:hover {
        border-color: $fc2;
    }

    &:hover .links-of-catalog {
        color: $fc2;
    }
}

.links-of-catalog {
    text-decoration: none;
    line-height: 42px;
    font-family: $ff1;
    color: $fc3;
    font-size: 16px;
    font-weight: 700;
    display: block;
}

.foto-container {
    &::after {
        content: "";
        display: table;
        clear: both;
    }

    p {
        margin: 0 auto;
        font-family: $ff1;
        color: $fc3;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 27px;

        span {
            font-family: $ff2;
            font-size: 36px;
        }
    }
}

.examples {
    float: left;
    background-color: white;
    padding: 20px 20px 30px 20px;
    margin-right: 21px;

    &:last-child {
        margin: 0;
    }
}

.foto.container {
    width: 100%;
}

.foto-three {
    font-size: 0;
    margin-top: 19px;

    img {
        margin-right: 18px;

        &:last-child {
            margin: 0;
        }
    }
}

.slick-slide {

    img {
        display: inline;
    }
}

.name_of_window {
    font-family: $ff1;
    color: $fc3;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 22px;
}

.green-line {
    width: 59px;
    height: 3px;
    background-color: $fc2;
    margin: 0 auto;
}

.calc {
    background-color: $fc2;
    color: white;
    text-decoration: none;
    border: 2px solid $fc2;
    border-bottom: 3px solid rgb(40, 139, 10);
    padding: 12px 48px 13px 48px;
    text-align: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: $fc2;
    }
}

.slick-arrow-left-next,
.slick-arrow-right-next {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;

    &::after,
    &::before {
        content: "";
        width: 15px;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 18px;
        left: 5px;
    }

    &::before {
        transform: rotate(90deg);
        left: -2px;
        top: 11px;
    }

    &:hover {

        &::after,
        &::before {
            background-color: $fc2;
        }
    }
}

.slick-arrow-left-next {
    left: -44px;
}

.slick-arrow-right-next {
    transform: rotate(225deg);
    right: -24px;
}

.mySlider-2 {
    margin-bottom: 40px;
}

.divider {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.popular {
    background-image: url(../images/Rectangle%208.png);
    padding-bottom: 40px;
}

.last_head {
    font-family: $ff2;
    color: $fc3;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 44px;
}

.delivery-price {
    width: 403px;
    float: left;
    margin-left: 28px;
}

.delivery {
    background-color: white;
    padding-bottom: 11px;

    a {
        text-align: center;
    }
}

.act {
    background-image: url(../images/act.png);
    background-repeat: no-repeat;
    font-family: $ff1;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: -3px;
    width: 82px;
    text-align: center;
    position: relative;
    top: -10px;
}

.free-delivery {
    text-align: center;
    font-family: $ff1;
    color: $fc3;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-top: 18px;
}

.inform-image {
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    background-image: url(../images/information.png);
    width: 63px;
    height: 63px;

    &:hover .inform {
        display: block;
    }
}

.inform {
    background-color: wheat;
    width: 266px;
    height: 158px;
    padding: 16px 33px 19px 15px;
    position: relative;
    top: -13px;
    left: -329px;
    display: none;
}

.vl {
    width: 4px;
    height: 45px;
    background-color: $fc2;
    display: block;
    position: relative;
    top: -156px;
    left: 280px;
}

.romb {
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: relative;
    background-color: wheat;
    top: -189px;
    left: 288px;
}

.last-des-container {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}


.last-des {
    background-color: #fff;
    float: left;
    width: 690px;
    padding: 30px 19px 30px 30px;

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.main-foto {
    background-image: url(../images/main_photo.png);
    width: 299px;
    height: 247px;
}

.ft {
    float: left;
    width: 299px;
    img {
        margin-right: 14px;

        &:last-child {
            margin-right: 0px;
        }
    }
}

.mySlider-3 {
    margin: 15px auto;
    max-width: 247px;
}

.head_text_of_foto {
    margin-left: 319px;
}

.head_practice {
    font-family: $ff1;
    color: $fc3;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.right_text_of_foto {
    font-family: $ff1;
    color: $fc3;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.slick-arrow-left-last,
.slick-arrow-right-last {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    transform: rotate(45deg);
    position: absolute;
    top: 30%;

    &::after,
    &::before {
        content: "";
        width: 15px;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 18px;
        left: 5px;
    }

    &::before {
        transform: rotate(90deg);
        left: -2px;
        top: 11px;
    }

    &:hover {

        &::after,
        &::before {
            background-color: $fc2;
        }
    }
}

.slick-arrow-left-last {
    left: -44px;
}

.slick-arrow-right-last {
    transform: rotate(225deg);
    right: -24px;
}

.price {
    background-color: #fff;
    margin-top: 19px;
    padding-top: 30px;
    padding-bottom: 30px;

    .calc {
        margin-top: 29px;
        font-size: 18px;
        font-weight: 400;
        font-family: $ff2;
    }
}

.price_p {
    font-family: $ff1;
    color: $fc3;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.price_p2 {
    font-family: $ff1;
    color: $fc3;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    span {
        font-family: $ff2;
        font-size: 36px;
        font-weight: 700;
    }
}

#map {
    width: 100%;
    height: 520px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.bold {
    font-weight: 900;
}

.form {
    position: relative;
    z-index: 1;
    width: 450px;
    margin: -330px auto 0;
    background-color: #fff;
    position: absolute;
    right: 0;

    .rows {
        text-align: center;
        border-bottom: 1px solid rgb(230, 230, 230);

        &::after {
            display: table;
            content: "";
            clear: both;
        }
    }
}

.rows-menu {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: left;
    margin: 21px auto;
    margin-left: 21px;
}

.rows-list {
    list-style-type: none;
    width: 33%;
    margin-bottom: 5px;



    a {
        font-family: $fc1;
        color: $fc3;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        display: block;

        &:hover {
            color: $fc2;
            text-decoration-line: underline;
        }
    }
}

.rows-menu-list {
    padding: 21px 0 21px 21px;
}

.rows_phone_number {
    font-family: $ff2;
    color: $fc3;
    font-size: $fs;
    line-height: 88px;
}

.form-call {
    float: right;
    line-height: 88px;

    .rows-order {
        line-height: 38px;
        padding-left: 19px;
        padding-right: 18px;
        border: none;
        border-bottom: 3px solid #288b0a;
        background-color: $but_back;
        color: $col1;
        cursor: pointer;
        margin-right: 20px;

        img {
            vertical-align: middle;
            margin-right: 9px;
        }
    }
}

@media screen and (max-width: 1024px) {

    .firm_name {
        float: none;
        text-align: center;
    }

    #describe {
        display: block;
        text-align: center;
        margin: 0
    }

    .phone_number {
        display: block;
        text-align: center;
    }
    
    .menu-list {
        display: block;
        overflow: visible;
    }

    .call {
        float: none;
        text-align: center;
    }

    .set {
        padding-left: 40px;
        padding-right: 40px;
    }

    .foto {
        float: none;
        margin: 0 auto;
        padding: 0;
    }

    .description {
        margin: 0 auto;
        top: 0;
    }
    
    .foto-one {
        img {
            max-width: 100%;
        }
    }
    
    .foto-three {
        img {
            display: block;
            margin: 5px auto;
            
            &:last-child {
                margin: 5px auto;
            }
        }
    }
    
    .list-of-catalog {
        max-width: 664px;
    }
    
    .slick-arrow-left-next {
        left: -18px;
    }
    
    .slick-arrow-right-next {
        right: 3px;
    }
    
    .calc {
        padding: 12px 8px 13px 14px;
    }
    
    .last-des {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    
    .delivery-price {
        float: none;
        margin: 30px auto;
    }
}

@media screen and (max-width: 768px) {
    .calc {
        padding: 12px 10px;
        font-size: 12px;
    }
    
    .last-des {
        padding: 0;
        padding-top: 10px;
        
        .ft {
            float: none;
            margin: 0 auto;
        }
        
        .head_text_of_foto {
            margin: 10px auto;
        }
        
        .head_practice {
            margin-left: 10px;
            margin-right: 10px;
        }
        
        .right_text_of_foto {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: 667px) {
    
    .img {
        display: none;
    }
    
    .elements-of-list {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .foto-one {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 568px) {
    .set_window {
        padding: 10px;
        width: 344px;
    }
    
    .set_window .slick-arrow.slick-arrow-left {
        left: -18px;
    }
    
    .set_window .slick-arrow.slick-arrow-right {
        right: -18px;
    }
    
    .convert {
        float: none;
    }

    .elements-of-list {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 414px) {
    
    .set_window {
        display: none;
    }
    
    .foto {
        width: 100%;
    }
    
    .description {
        top: 0;
    }
    
    .bld_img {
        margin: 0;
    }
    
    .bld {
        width: 100vw;
    }
    
    .list-of-catalog {
        display: block;
        background-color: inherit;
    }      
    
    .elements-of-list {
        background-color: #fff;
        margin-top: 10px;
        text-align: center;
    }
    
    .delivery-price {
        width: auto;
    }
    
    .form {
        width: auto;
        margin: 0;
    }
}




























