$ff1: Roboto, sans-serif;
$ff2: Cuprum, sans-serif;

$fc1: #4f555a;
$fc2: #43aa26;
$fc3: #2f3031;

$but_back: #41ac21;
$col1: #ffffff;

$fs: 26px;

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.header {
    width: 100%;
}

.info {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    
    span {
        line-height: 87px;
    }
}

#describe {
    margin-left: 97px;
    margin-right: 97px;
    color: $fc3;
    font-size: 14px;
    font-weight: 400;
    font-family: $ff1;
}

#phone_number {
    font-family: $ff2;
    color: $fc3;
    font-size: $fs;
}

.firm_name {
    float: left;
    vertical-align: middle;
    
    img {
        vertical-align: middle;
        line-height: 87px;
    }
    
    a {
        text-decoration: none;
        color: $fc1;
        font-size: $fs;
        font-family: $ff1;
        line-height: 87px;
    }
}

#call {
    float: right;
    line-height: 87px;
    
    .order {
        line-height: 38px;
        padding-left: 19px;
        padding-right: 18px;
        border: none;
        border-bottom: 3px solid #288b0a;
        background-color: $but_back;
        color: $col1;
        img {
            vertical-align: middle;
            margin-right: 9px;
        }
    }
}

.menu {
    width: 100%;
    background-color: $but_back;
}

.menu-list {
    box-sizing: border-box;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 48px;
    overflow: hidden;
    line-height: 48px;
}

.element {
    list-style: none;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    &:first-child {
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
    
    &:hover {
        background-color: white;
    }
    
    &:last-child {
        &:hover {
            background-color: $but_back;
        }
    }
    
    &:hover .elem {
        color: $fc2;
    }
}

.elem {
    text-decoration: none;
    color: white;
    padding-left: 18px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 48px;
    display: block;
}

#search {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 48px;
    
    img {
        vertical-align: middle;
    }
}

.set {
    background-image: url(../images/set.png);
    height: 500px;
}

.set_window {
    width: 451px;
    text-align: left;
    background-color: white;
    padding-left: 30px;
    padding-right: 31px;
    padding-bottom: 52px;
    padding-top: 26px;
    border-top: 4px solid $but_back;
    box-shadow: -4px 7px 18px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: calc(50% + 135px);
}

.pads {
    h6 {
        font-family: $ff2;
        color: $fc3;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 19px;
    }
    
    p {
        font-family: $ff1;
        color: $fc3;
        font-size: 14px;
    }
}

#leftarrow {
    width: 26px;
    height: 26px;
    background-color: $but_back;
    position: absolute;
    left: 0;
    top: calc(50% - 26px);
    margin-left: -13px;
    transform: rotate(45deg);
    &:hover {
        background-color: white;
    }
}

#rightarrow {
    width: 26px;
    height: 26px;
    background-color: $but_back;
    position: absolute;
    right: 0;
    margin-right: -13px;
    top: calc(50% - 26px);
    transform: rotate(45deg);
    &:hover {
        background-color: white;
    }
}

.foto {
    background-image: url(../images/girl.png);
    width: 482px;
    height: 368px;
    margin-top: -91px;
    position: absolute;
    float: left;
}

#horizontal_line {
    width: 68px;
    height: 6px;
    background-color: $but_back;
    display: block;
    position: absolute;
    top: -2px;
    left: -1px;
}

#vertical_line {
    width: 6px;
    height: 68px;
    background-color: $but_back;
    display: block;
    position: absolute;
    left: -2px;
    top: -1px;
}

.description {
    width: 690px;
    display: inline-block;
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.ordering {
    font-family: $ff1;
    color: $fc3;
    font-size: 36px;
    font-weight: 700;
}

.convert {
    float: left;
}

#window {
    margin-bottom: 33px;
}

#car {
    margin-bottom: 57px;
}

#box {
    margin-bottom: 61px;
}

.images {
    padding-left: 65px;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.set_window .slick-dots {
    text-align: center;
    font-size: 0;
}

.set_window .slick-dots li {
    display: inline-block;
    margin: 20px 6px;
}

.set_window .mySlider .slick-dots button {
    cursor: pointer;
    font-size: 0;
    border-radius: 100%;
    border: 2px solid $fc2;
    width: 12px;
    height: 12px;
    background-color: $fc2;
    outline: none;
}

.set_window .mySlider .slick-dots .slick-active button {
    background-color: white;
}

.set_window {
    .slick-arrow {
    font-size: 25px;
    border: none;
    width: 26px;
    height: 26px;
    background-color: #41ac21;
    position: absolute;
    color: #fff;
    transform: rotate(45deg);
    line-height: 23px;
    transform-origin: 13px 6px;
    top: calc(50% - 26px);
    &.slick-arrow-left {
         left: -38px;
    }
    &.slick-arrow-right{
        right: -38px;
    }
    .arrow-right{
        display: block;
        transform: rotate(-45deg);
        height: 26px;
    }
    &:hover {
        background-color: white;
    }
    }
}
.arrow-slide {
    
}
.set_window .mySlider {
//    .slick-prevArrow {
//        &:before {
//            display: block;
//            content: "123";
//            font-size: 14px;
//            color: black;
//        }
//    }
}















