$ff1: Roboto, sans-serif;
$ff2: Cuprum, sans-serif;

$fc1: #4f555a;
$fc2: #43aa26;
$fc3: #2f3031;

$but_back: #41ac21;
$col1: #ffffff;

$fs: 26px;

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    width: 100%;
}

.info {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    
    span {
        line-height: 87px;
    }
}

#describe {
    margin-left: 97px;
    margin-right: 97px;
    color: $fc3;
    font-size: 14px;
    font-weight: 400;
    font-family: $ff1;
}

#phone_number {
    font-family: $ff2;
    color: $fc3;
    font-size: $fs;
}

.firm_name {
    float: left;
    vertical-align: middle;
    
    img {
        vertical-align: middle;
        line-height: 87px;
    }
    
    a {
        text-decoration: none;
        color: $fc1;
        font-size: $fs;
        font-family: $ff1;
        line-height: 87px;
    }
}

#call {
    float: right;
    line-height: 87px;
    
    .order {
        line-height: 38px;
        padding-left: 19px;
        padding-right: 18px;
        border: none;
        border-bottom: 3px solid #288b0a;
        background-color: $but_back;
        color: $col1;
        img {
            vertical-align: middle;
            margin-right: 9px;
        }
    }
}

.menu {
    width: 100%;
    background-color: $but_back;
}

.menu-list {
    box-sizing: border-box;
}

.element {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    
    &:first-child {
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
    
    &:hover {
        background-color: white;
    }
    
    &:hover .elem {
        color: $fc2;
    }
}

.elem {
    text-decoration: none;
    color: white;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 14px;
    padding-right: 15px;
    line-height: 48px;
}

#search {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 48px;
}

.set {
    background-image: url(images/set.png);
}